---
layout: none
---
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Helpful Figures</title>
  <link rel="alternate" type="application/rss+xml" title="Helpful Figures RSS Feed" href="http://feeds.feedburner.com/helpfulfigures" /> 
  <link rel="stylesheet" href="/style/global.css" type="text/css" />
  <meta name="description" content="A collection of fake infographics." />
  {% for f in site.posts[0].stylefiles %}
  <link rel="stylesheet" href="{{ f }}" type="text/css" />
  {% endfor %}
  {% for f in site.posts[0].scriptfiles %}
  <script src="{{ f }}"></script>
  {% endfor %}
  <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-17759249-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
</head>
<body>
<div class="g_header">
  <span class="g_logo"><a href="/"><img src="/img/logo.png"/></a></span>
</div>
<div class="g_navbar">
  {% if site.posts[0].previous %}<span class="g_navitem"> <a rel="prev" href="{{ site.posts[0].previous.url }}" title="{{ site.posts[0].previous.title }}" >Previous</a></span>{% endif %}
  {% if site.posts[0].next %}<span class="g_navitem"> <a rel="next" href="{{ site.posts[0].next.url }}" title="{{ site.posts[0].next.title }}" >Next</a></span>{% endif %}
  <span class="g_navitem"><a rel="contents" href="/archive">Archive</a></span>
  <span class="g_navitem"><a rel="help" href="/about">About</a></span>
  <span class="g_navitem"><a href="http://feeds.feedburner.com/helpfulfigures">[RSS]</a></span>
  <span class="g_navitem"><a href="http://twitter.com/kpich">[twttr]</a></span>
</div>
<div id="g_maincontent">
  <div id="p_post">
    {{ site.posts[0].content }}
  </div>
</div>
<div class="g_metainfo">
    {% if site.posts[0].date %} <span>Originally posted on {{ site.posts[0].date | date_to_long_string }}.</span>{% endif %}
    {% if site.posts[0].url %} <span>&nbsp;&nbsp;<a href="{{site.posts[0].url}}">Permalink</a></span> {% endif %}
</div>

<div class="g_navbar">
  {% if site.posts[0].previous %}<span class="g_navitem"> <a rel="prev" href="{{ site.posts[0].previous.url }}" title="{{ site.posts[0].previous.title }}" >Previous</a></span>{% endif %}
  {% if site.posts[0].next %}<span class="g_navitem"> <a rel="next" href="{{ site.posts[0].next.url }}" title="{{ site.posts[0].next.title }}" >Next</a></span>{% endif %}
  <span class="g_navitem"><a rel="contents" href="/archive">Archive</a></span>
  <span class="g_navitem"><a rel="help" href="/about">About</a></span>
  <span class="g_navitem"><a href="http://feeds.feedburner.com/helpfulfigures">[RSS]</a></span>
  <span class="g_navitem"><a href="http://twitter.com/kpich">[twttr]</a></span>
</div>

<div id="g_footer">
    <a href="http://meronoiac.com">Karl Pichotta</a>, 2010-2011. Licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/">Creative Commons Attribution-NonCommercial 3.0 License</a>.
</div>

</body>
</html>
