body {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#919184 none repeat scroll 0 0;
color:#666666;
font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;
font-size:75%;
text-align:center;
}

img {
border:none;
}

.g_logo {
width:100px;
}

.g_navbar {
padding-top:10px;
padding-bottom:10px;
}

.g_navitem {
font-size:27px;
padding-left:20px;
vertical-align:50%;
color:#232323;
}

.g_metainfo {
font-size:120%;
padding:10px;
color:#333333;
}

a {
color:#464666;
font-weight:600;
text-decoration:none;
}

a:hover {
color: #69370C;
}

.g_navitem a {
font-weight:400;
color: inherit;
}

.g_navitem a:hover {
color: #69370C;
}

.g_feed {
padding-left:20px;
vertical-align:50%;
}

#p_post {
min-width:720px;
}

#p_post, .ab_about, .ar_archivelist {
display:inline-block;
border:2px solid;
background:#FFFFFF;
}

#p_maincontent {
margin:50px;
}

.p_extratext {
margin-top:20px;
text-align:left;
font-size:120%;
}

.ar_archiveli {
margin-top:5px;
}
.ar_archiveul {
list-style:square;
}

#g_footer {
margin-top:20px;
color:#333333;
}

.ab_about, .ar_archivelist {
padding:40px;
width:600px;
color:#333333;
text-align:left;
font-size:125%;
}


