<!DOCTYPE html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>Helpful Figures: {{ page.title }}</title>
   <link rel="stylesheet" href="/style/global.css" type="text/css" />
   {% for f in page.stylefiles %}
   <link rel="stylesheet" href="{{ f }}" type="text/css" />
   {% endfor %}
   {% for f in page.scriptfiles %}
   <script src="{{ f }}"></script>
   {% endfor %}
   <script type="text/javascript">
   var _gaq = _gaq || [];
   _gaq.push(['_setAccount', 'UA-17759249-1']);
   _gaq.push(['_trackPageview']);
   (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
   })();
   </script>
</head>
<body>

<div id="g_header">
  <span class="g_logo"><a href="/"><img src="/img/logo.png"/></a></span>
  {% if page.previous %}<span class="g_navitem"> <a rel="prev" href="{{ page.previous.url }}" title="{{ page.previous.title }}" >Previous</a></span>{% endif %}
  {% if page.next %}<span class="g_navitem"> <a rel="next" href="{{ page.next.url }}" title="{{ page.next.title }}" >Next</a></span>{% endif %}
  <span class="g_navitem"><a rel="contents" href="/archive">Archive</a></span>
  <span class="g_navitem"><a rel="help" href="/about">About</a></span>
  <span class="g_navitem"><a href="http://feeds.feedburner.com/helpfulfigures">RSS</a></span>
</div>
<div id="g_maincontent">
  {{ content }}
</div>
<div id="g_metainfo">
    {% if page.date %} <span>{{ page.date | date_to_long_string }}.</span>{% endif %}
</div>

<div id="g_footer">
    <a href="http://twitter.com/kpich">Karl Pichotta</a>, 2010. Licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/">Creative Commons Attribution-NonCommercial 3.0 License</a>.
</div>

</body>
</html>
